body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/gravel/gravel.png");
    background-color: #dddddd;
    margin: 0;
}

.label {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    padding-bottom: 10;
}

nav {
    padding: 29px 0px;
}

a {
    color: #777777;
    text-decoration: none;
}

#mnavlink {
    margin: 0px 10px;
    padding: 0px 10px;
    border-right: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
}

h1 {
    padding: 20px 0px;
    color: #4aaaa5;
    margin: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
    text-align: right;
    background-color: #ffffff;
    border-bottom: 4px solid #cccccc;
}

div {
    width: 960px;
    margin: auto;
}

section {
    width: 880px;
    clear: both;
    margin: 20px auto 40px;
    text-align: left;
    background-color: #ffffff;
    padding: 20px 40px;
    min-height: calc(100vh - 40px);
    overflow: auto;
}

article {
    align-content: center;
    text-align: justify;
    border-top: 3px solid #dddddd;
    padding-top: 20px;
    margin: 0;
    font-size: 18px;
}

#name {
    width: 100%;
    margin: 10px 0px 20px 0px;
    padding: 10px 0px;
}

#email {
    width: 100%;
    margin: 10px 0px 20px 0px;
    padding: 10px 0px;
}

#message {
    width: 100%;
    margin: 10px 0px 20px 0px;
    padding: 10px 0px;
    height: 150px;
}

#submit {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px; 
    font-size: 18px;
}

p {
    margin: 0;
}

.profilepic {
    float: left;
    padding-right: 20px;
}

.imgcontainer {
    position: relative;
    float: left;
    width: 200px;
    margin: 0px 30px 40px 0px;
}

p.label {
    position: absolute;
    top: 120px;
    bottom: 20px;
    width: 200px;
    text-align: center;
    padding: 20px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

footer {
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    padding-top: 20px;
    height: 40px;
}

@media screen and (max-width: 980px) {



}

@media screen and (max-width: 768px) {


    
}

@media screen and (max-width: 640px) {

    h1.label {
        width: 100vw;
        clear: both;
    }

    nav {
        padding: 20px;
        clear: both;
        width: 100vw;
    }

    div {
        clear: both;
        margin: auto;
        text-align: center;
    }

    section {
    width: auto;
    margin: 20px;
    }
        
    p {
        clear: both;
        padding-top: 20px;
    }

    .profilepic {
        width: 380px;
    }

    body {
        width: auto;
    }

    .imgcontainer {
        width: 380px;
    }

    p.label {
        top: 120px;
        bottom: 20px;
        right: 90px;
        width: 200px;
    }
}